<p id="notice"><%= notice %></p>
<div class="center"><h2><%= @employees[0].company.name %></h2></div>
<h3 class="center">Location: <%= @locations.name %></h3>
<h3>Employee</h3>
<%= render partial: 'shared/employees',
            locals: { employees: @employees, paginate: false } %>

<h3>Employee Courses</h3>
<%= render partial: 'shared/courses',
            locals: {   courses: @courses,   paginate: false } %>

<div class="center">
  <%= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-default' %>
  <%= link_to 'Back', employees_path, class: 'btn btn-default' %>
</div>
