<p id="notice"><%= notice %></p>
<div class="center"><h2><%= @companies %></h2></div>
<h3>Course</h3>
<%= render partial: 'shared/courses',
            locals: {   courses: @courses,   paginate: false } %>
<h3>Locations</h3>
<%= render partial: 'shared/locations',
            locals: { locations: @locations, paginate: false } %>
<h3>Enrolled Employees</h3>
<%= render partial: 'shared/employees',
            locals: { employees: @employees, paginate: true } %>
<div class="center">
  <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-default' %>
  <%= link_to 'Back', courses_path, class: 'btn btn-default' %>
</div>
