<p id="notice"><%= notice %></p>
<div class="center"><h2><%= @companies %></h2></div>
<div class="center"><h2>Location: <%= @locations[0].city %></h2></div>

<h3>Courses</h3>
<%= render partial: 'shared/courses',
            locals: {   courses: @courses,   paginate: true } %>
<h3>Current Employees</h3>
<%= render partial: 'shared/employees',
            locals: { employees: @employees, paginate: true } %>
<div class="center">
  <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-default' %>
  <%= link_to 'Back', locations_path, class: 'btn btn-default' %>
</div>
